HELP.md
.gradle
build/
target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
.java-version

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.gitsecret/keys/random_seed
!*.secret

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Mac os ###
.DS_Store
devops/test/accept_tests/test_results/*

## m2 directories ##
~/.m2/*
/.m2/*
.m2/*
.java-version
